html,body{
  height:100%;
  width: 100%;
  margin:0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #222;
  display:flex;
  align-items:center;
  justify-content:center;
}

.screen{
  height: 100vh;
  width: 100vw;
  background-color: rgb(227, 227, 227);
  border-radius: 6px;
  display:flex;
  flex-direction:column;
  overflow: hidden;
}

.topbar{
  color: white;
  height: 56px;
  display:flex;
  align-items:center;
  padding: 6px 14px;
  background: #D80D8B;
  border-bottom: 1px solid rgba(11,34,48,0.08);
}

.topbar-left{
  display:flex;
  flex-direction:column;
}
#station-label{
  font-size:11px;
  letter-spacing:1px;
  font-weight:700;
}
#station-name{
  font-size:18px;
  font-weight:700;
  margin-top:2px;
}

.topbar-center{
  flex: 1;
  font-size:13px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.topbar-center #date{ font-weight:700; }
.topbar-center #time{ font-size:14px; margin-top:2px; }


.topbar-right{
  width: 140px;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}
#logoDivia{ 
  width: auto; 
  height:20px; 
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}



.main{
  justify-content: center;
  display:flex;
  padding: 18px;
  gap: 18px;
}


.main-left, .main-right{
  width: 44%;
  display:flex;
  flex-direction:column;
}
.main-left-head, .main-right-head{
  display:flex;
  justify-content:space-between;
  font-size:12px;
  margin-bottom:10px;
  font-weight:700;
}
.cardL, .cardR{
  background-color: white;
  display:flex;
  align-items:center;
  border-radius:10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  padding: 14px;
  margin: 10px;
  gap:12px;
  min-height:140px;
  border: 1px solid rgba(11,34,48,0.04);
}


.line-block{
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  background: #D80D8B;
  border:1px solid rgba(11,34,48,0.06);
  box-sizing:border-box;
}
.line-id{
  color: white;
  font-weight:800;
  font-size:22px;
}


.dest-block{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.dest-name{
  font-size:20px;
  font-weight:700;
  color:black
}


.time-block{
  width:100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.minute{
  font-size:46px;
  font-weight:800;
  color:black;
  line-height:1;
}

.minute.active{
  font-size: 20px;
}
.min-label{
  font-size:14px;
  color:black;
  margin-top:6px;
}


.footer{
  height:38px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:6px 14px;
  font-size:12px;
  color:black;
  border-top:1px solid rgba(11,34,48,0.03);
  background: linear-gradient(180deg, rgba(11,34,48,0.01), rgba(11,34,48,0.02));
}

